.footer{
    margin-top: 8%;
}
.footer-text{
    width: 80%;
}

@media only screen and (max-width: 1100px) {
    .footer{
        margin-top: 17%;
    }
    .footer-text{
        width: 100%;
        font-size: 0.9rem;
    }
   
}
@media only screen and (max-width: 480px) {
  
    .footer{
        margin-top: 12%;
    }
    .footer-text{
       
        font-size: 0.7rem;
    }
}